/* Chat.css */

/* General Styles */
.UserForm {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.dark-theme {
    background-color: #1e1e1e;
    color: #fff;
}

/* Chat Container */
.chat-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 14px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.chat-container:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3);
}

/* Message Styles */
.messages {
    color: #333;
}

.sent, .received {
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.sent {
    background-color: #d9edf7;
}

.received {
    background-color: #f0f0f0;
}

/* Toggle Switch */
#toggle-btn {
    display: none;
}

.toggle-label {
    width: 90px;
    height: 45px;
    background-color: #ccc;
    display: block;
    border-radius: 45px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.toggle-label:after {
    content: '';
    position: absolute;
    width: 54px;
    height: 54px;
    background-color: #fff;
    border-radius: 50%;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.3s;
}

#toggle-btn:checked + .toggle-label {
    background-color: #333;
}

#toggle-btn:checked + .toggle-label:after {
    left: calc(100% - 60px);
}

/* Logout Button */
.log-out-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 24px 36px;
    margin: 24px;
    cursor: pointer;
    border-radius: 18px;
    transition: all 0.3s;
    display: inline-block;
}

.log-out-button:hover {
    background-color: #0056b3;
}

/* Heading Styles */
.heading {
    color: #333;
}


/* Input Styles */
.input {
    margin-top: 28px;
}

input {
    padding: 24px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 18px;
    transition: border-color 0.3s;
}

input::placeholder {
    color: #999;
}

input:focus {
    border-color: #007bff;
}

/* Button Styles */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 24px 36px;
    margin: 20px;
    cursor: pointer;
    border-radius: 16px;
    transition: all 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.modal-window-user-info{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e7e6e6;
    padding: 10%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.modal-window-user-info h2{
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px; 
  
}

.modal-username-form option{
   padding: 10px;
   font-weight: bold;
}


